$collapseNavAt: 750px !default;
$collapsedNavBackgroundColor: #000 !default;

/* site specific nav */
$navHeight: 100px;
$navRightPadding: 60px;
$navDDBorderRadius: 4px;
$navDDPadding: 15px;
$navDDBackgroundColor: $greenColor;

.nav-wrap { 
	padding-top: 44px;
	position: fixed;
	top:0; left:0; right:0;
	z-index: 10;
	@include transition( transform 0.2s $ease-in-out-sine );
}

.small-nav .nav-wrap {
	@include transform( translateY(-44px) );
}

.nav-top {
	background: $greenColor;
	position: absolute;
	top:0; left:0; right:0;
	
	.toggle-search {
		color: #fff;
		width: $navRightPadding; height: $navHeight;
		position: absolute;
		right:0; top:44px;
		
		&:before { font-size: 22px; }
		&:after {
			content:"";
			background: rgba(0,0,0,0.2);
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			@include transform( scale(1,0) );
			@include transform-origin( top center );
			@include transition( transform 0.2s $ease-in-out-sine );
		}
		&:hover:after {
			@include transform( none );
		}
	}
}

.nav-meta-nav {
	float: right;
	
	a {
		line-height: 44px; 
		display: block;
		float: left;
		color: #fff;
		font-size: 12px;
		padding: 0 12px;
		text-transform: uppercase; 
		position: relative;
		margin-left: 1px;
		z-index: 1;
			
		&:before {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -1;
			content:"";
			background: rgba(0,0,0,0.2);
			@include transform( scale(1,0) );
			@include transform-origin( top center );
			@include transition( transform 0.2s $ease-in-out-sine 0.05s );
		}
		
		&:hover:before {
			@include transition-delay( 0s );
			@include transform( none );
		}
		
		&:after { 
			content:"";
			position: absolute;
			right:-1px; top: 50%;
			height: 12px;
			border-right: 1px solid #fff;
			margin-top: -6px;
		}
		&:last-child:after { display: none; }
	}
	
}

.nav {
	background: $blueColor;
	
	.sw { text-align: right; }
	.nav-contents>.sw { padding-right: $navRightPadding; }
}

nav a { color: #fff; text-transform: uppercase; }

.nav .toggle-search,
.nav nav>ul>li>a {
	@include transition( height 0.2s $ease-in-out-sine );
	.small-nav & { height: 40px; }
}

.small-nav .nav {
	box-shadow: 0 0 8px rgba(0,0,0,0.4); 
}

.header-logo {
	@include transition( top 0.2s $ease-in-out-sine );
	.small-nav & { top:0; }
}

nav {

	display: inline-block;
	
	>ul {
		position: relative;
		@include display( flex );
		
		>li {
			
			&.drop>a:after {
				content:"";
				display: block;
				position: absolute;
				left:0; right:0; bottom:0;
				width:0; height:0;
				margin: 0 auto;
				border: solid transparent;
				border-width: 11px 15px;
				border-bottom-color: $navDDBackgroundColor;
				
				.small-nav & { display: none; }
			}
			
			>a {
				@include display( flex );
				@include align-items( center );
				height: $navHeight;
				text-align: center;
				padding: 0 15px;
				color: #fff;
				position: relative;
				
				&:after,
				span:after {
					@include transform-origin( center bottom );
					@include transform( scale(0,0) );
					@include transition( 0.35s transform $ease-in-out-cubic );
				}
				
				&:after { @include transition-delay( 0s ); }
				
				
				span {
					display: inline-block;
					position: relative;
					padding: 6px 0 4px;
					
					&:after {
						content:"";
						position: absolute;
						bottom:0; left:0; right:0;
						height: 3px;
						background: $greenColor;
					}
					
				}
				
			}
			
			&.selected,
			&:hover>a {
				&:after,
				span:after { @include transform( none ); }
				&:after { @include transition-delay( 0.2s ) }
			}
			
		}
		
	}
	
}

.nav-dd {

	text-align: left;
	padding: $navDDPadding;
	position: absolute;
	top: 100%; left:0; width: 100%;
	background: $navDDBackgroundColor;
	border-radius: 0 0 $navDDBorderRadius $navDDBorderRadius;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.2); 
	@include display( flex );
	@include justify-content( space-between );
	@include transition( opacity 0.2s $ease-in-out-sine, transform 0s $ease-in-out-sine 0.4s );
	@include transform( scale(0,0) );
	opacity:0;
	
	li:hover & {
		@include transform( none );
		@include transition-delay(  0s, 0s );
		opacity:1;
	}
	
	ul {
		@include flex-grow( 1 );
		margin-left: #{-$navDDPadding};
		padding-right: $navDDPadding;
		a {
			display: block;
			position: relative;
			padding: 6px 6px 6px #{6+$navDDPadding};
			border-radius: 0 $navDDBorderRadius $navDDBorderRadius 0;
			z-index: 1;
			
			&:after {
				position: absolute;
				content: "";
				top:0; bottom:0; left:0; right:0;
				width:0;
				z-index: -1;
				background: rgba(0,0,0,0.2);
				@include transition( 0.2s width $ease-in-out-sine );
			}
			
			&.selected:after,
			&:hover:after { width: 100%; } 
		}
	}
	
}

.nav-dd-meta {
	padding: 25px;
	color: #fff; 
	@include flex( 0 1 380px );
	@include display( flex );
	@include flex-direction( column );
	@include justify-content( center );
	border-radius: $navDDBorderRadius;
}

.nav-dd-meta-title { 
	font-size: 20px;
	text-transform: uppercase;
}

.nav-dd-meta-content { 
	font-size: 18px;
	font-style: italic; 
}

/* partial collapse at 950px */
@media screen and (max-width: 950px) {

	.nav .nav-contents>.sw { padding-right:0; max-width: 100%; }
	nav { 
		display: block; 
		ul { @include justify-content( space-between ); }
	}
	
	.header-logo {
		top:0;
		@include transition( transform 0.2s $ease-in-out-sine );
		.small-nav & { @include transform( translateY(-100%) ); }
	}
	
	/* move the search button */
	.nav-top .toggle-search { 
		position: relative;
		float: right;
		height: 44px;
		top: 0;
	}
	
	
}

/* collapsed nav - MORE OR LESS STATIC ACROSS SITES */
button.toggle-nav,
.mobile-nav-bg { display: none; }
@media screen and (max-width: $collapseNavAt) {

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.6); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
			@include transform( translateZ(0) );
		}
		
	}
	
	.show-nav {
		height: 100vh;
		overflow: hidden;
	}
	
	body { 
		@include perspective( 1500px ); 
		height: 100vh;
		.show-nav & { overflow: hidden; }
	}
	
	.page-wrapper { 
		@include transition( 0.5s $ease-in-out-sine 0.2s );
		@include transition-property( transform, opacity, box-shadow );
		@include transform-origin( center right );
		.show-nav & {
			@include transform( rotateY(-45deg) translate3d(0,0,0) );
			@include transition-delay( 0s );
			opacity:0.8;
			box-shadow: 0 0 20px rgba(0,0,0,0.4);
		}
	}
	
	button.toggle-nav { 
		background: $greenColor;
		width: 40px; height: 40px;
		display: block;
		position: absolute;
		border: 1px solid #fff;
		top: 10px; right: 100%; margin-right: -50px;
		z-index: 24;
		@include transition( right 0.2s $ease-in-out-sine );
		@include transform( translateZ(0) );
		.show-nav & { right: 60px; }
		
		
		span {
			position:  absolute;
			display: block;
			border-top:  1px solid #fff;
			left: 10px; right: 10px; top:  50%;
			background:  #000;
			
			&,
			&:before,
			&:after {
				@include transition( all 0.2s $ease-in-out-sine 0.4s );
			}
			
			.show-nav & { border-top-color: $greenColor; }
			
			&:before,
			&:after {
				content:"";
				position: absolute;
				top: -9px; 
				left:0; width: 20px;
				border-top: 1px solid #fff;
				@include transform-origin( top left );
				.show-nav & {
					width: 24px; left: 2px;
					@include transform( rotate3d(0,0,1,45deg) );
				}
				
			}
			
			&:after { 
				top: auto; bottom: -8px; 
				@include transform-origin( bottom left );
				.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
			}
			
		}
		
	}
	
	
	.nav-wrap { 
		position: absolute; 
		height: 100vh;
		top:0; left:0; 
		width: 240px; 
		background: $collapsedNavBackgroundColor; 
		box-shadow: 4px 0 4px rgba(0,0,0,0.4); 
		z-index: 22;
		@include transform( translate3d(-300px,0,0) );
		@include transition( transform 0.2s $ease-in-out-sine 0s );
		
		.show-nav & { 
			@include transform( none ); 
			@include transition-delay( 0.4s );
		}
	}
	
	.nav { position: absolute; top:0; left:0; right:0; bottom: -10px; background: transparent;}
	.nav-contents { padding-top: 36px; }
	
	.nav-wrap {
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
	.ios .nav {
		@include transform( translateZ(0) );
	}
	
	.nav .sw { max-width: 100%; position:static; }
	
	nav {
		>ul { 
			@include flex-wrap( wrap ); 
			>li { 
				@include flex-basis( 100% ); 
				>a {
					padding: 10px; 
					height: auto;
					text-align: left;
					&:after { display: none !important; }	
				}
			}
		}
	}
	
	.nav-top { 
		position: static; 
		.sw { text-align:left; }
		
		.toggle-search {
			position: absolute;
			text-indent: 0;
			float: none;
			width: 100%;
			font-size: 18px;
			text-transform: uppercase;
			background: rgba(0,0,0,0.2); 
			&:before {
				position: static;
				margin-right: 10px;
				vertical-align: middle;
				@include transform( none );
			}
		}
		
	}
	.nav-meta-nav {
		a,
		& { float: none; }
		a:after { display: none; }
	}
	
	.nav-dd {	
		opacity:1;
		@include transform( none );
		position: static;
		padding: 10px 0;
		border-radius:0;
	}
	.nav-dd ul { padding-right: 0; }
	.nav-dd-meta { display: none; }
	
}