$darkBackgroundHeadingColor: $darkBackgroundContentColor !default;
$headingFontStack: $defaultFontStack !default;
$headingColor: #000 !default;

/* headings */
%top-level-headings { line-height: 1.2; font-weight: normal; margin: 0 0 20px; font-family: $headingFontStack; }
%hgroup-top-level-headings { margin:0; }
%heading-style { display: block; font-family: $headingFontStack; color: $headingColor;; }
@each $element in h1,h2,h3,h4,h5,h6 {
	#{$element} { 
		@extend %top-level-headings; 
		
		&+hr {
			margin: -15px 0 15px;
		}
		
		.hgroup & { @extend %hgroup-top-level-headings; }
		
		.dark-bg & { color: $darkBackgroundHeadingColor; }
		
		.article-body p + &,
		.article-body ul + &,
		.article-body ol + & { margin-top: 35px; }
		
		&.serif { font-family: $defaultFontStack; }
		
	}
	
	#{$element},
	.#{$element}-style { 
		@extend %heading-style; 
		
		.tooltip-content & {
			color: #fff;
			margin: 0 0 20px;
		}
		
	}
}

.hgroup span { @extend %hgroup-top-level-headings; }
.hgroup { margin: 0 0 20px; }

.h1-style,
h1 { font-size: 52px; }
.h2-style,
h2 { font-size: 42px; }
.h3-style,
h3 { font-size: 32px; }
.h4-style,
h4 { font-size: 26px; }
.h5-style,
h5 { font-size: 20px; }
.h6-style,
h6 { font-size: 14px; text-transform: uppercase; font-weight: bold;}