$buttonTextColor: #fff !default;
$buttonBackgroundColor: #000 !default;
$buttonTextColorHover: #fff !default;
$buttonBackgroundColorHover: #999 !default;

/* buttons */
button { background: transparent; border: none; }

.button { 
	text-align: center;
	font-family: $defaultFontStack; 
	font-weight:normal; 
	text-transform: uppercase; 
	font-size: 14px; 
	line-height: 1; 
	padding: 10px 16px; 
	display: inline-block; 
	cursor: pointer;
	color: $buttonTextColor;
	background: $buttonBackgroundColor;
	border-radius: 4px;
	@include transition( background 0.2s $ease-in-out-sine );
	
	p + & { margin-top: 15px; }
	
	&.sm {
		font-size: 10px; 
		padding: 6px 10px;
	}
	
	&.big {
		font-size: 18px; 
		padding: 14px 20px; 
	}
	
	&.with-ico {
		&:before { margin-right: 5px; }
	}
	
	a:hover &,
	&:hover {
		color: $buttonTextColorHover;
		background: $buttonBackgroundColorHover;	
	}
	
}
