/* acc colors */
$accHandleBorderWidth: 0 !default;
$accHandleBorderColor: transparent !default;
$accHandleColor: #fff !default;
$accHandleColorActive: #fff !default;

$accHandleBGColor: $darkBackgroundColor !default;
$accHandleBGColorActive: $darkBackgroundColor !default;

$accContentBorderWidth: 1px !default;
$accContentBorderColor: transparent !default;
$accContentBGColor: #f4f4f4 !default;

$accContentLinkColor: #000 !default;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff !default;
$accContentLinkActiveBGColor: #000 !default;

/* standard acc */
.acc.separated .acc-item { margin-bottom: 15px; }
.acc-item { margin:0; }
.acc-item-handle { display: block; position: relative; cursor: pointer; padding: 12px 44px 12px 12px; color: $accHandleColor; background: $accHandleBGColor; border: $accHandleBorderWidth solid $accHandleBorderColor; margin: 0; font-size:18px; text-transform:uppercase;}
.inactive .acc-item-handle { cursor: default; }
.acc-item-handle.lg { font-size: 20px; }

.acc {
	
	&.with-indicators>.acc-item {
		>.acc-item-handle:before {
			@include fa-icon();
			content: $fa-var-angle-down;
			font-size:24px;
			position: absolute; color: $accHandleColor; 
			width: 24px; height: 24px; 
			line-height:24px; 
			text-align:center;
			right:12px;
			@include transform( none );
			@include transform-origin( center );
			@include transition( transform $ease-in-out-back 0.4s );
		}
		
		&.expanded>.acc-item-handle:before {
			@include transform( rotateZ(180deg) );	
		}
	}

}

.acc-item-handle:hover,
.expanded>.acc-item-handle { background: $accHandleBGColorActive; color: $accHandleColorActive;}

.acc-item-handle:hover:before,
.expanded>.acc-item-handle:before { color: $accHandleColorActive; }

.acc-item-handle>div { padding: 3px 10px; }
.acc-item-content { overflow: hidden; display: none; padding: 10px; border: solid $accContentBorderColor; margin: -2px 0 0; border-width: 0 $accContentBorderWidth $accContentBorderWidth; background: $accContentBGColor;}
.start-expanded>.acc-item-content { display: block; }
.acc-content-item p { border: none !important; }
.acc-item-content ol,
.acc-item-content ul { margin:-10px; padding: 5px 0; font-size: 13px;}
.acc-item-content ul a { display: block; color: $accContentLinkColor; background: $accContentLinkBGColor; padding: 5px 12px;}
.acc-item-content .selected>a,
.acc-item-content ul a:hover { background: $accContentLinkActiveBGColor; color: $accContentLinkActiveColor; }