/* a blue background-ed section */
$lightGreenColor: #e2f0d6; 
.blue-bg { background-color: $blueColor;}
.light-green-bg { background-color: $lightGreenColor; }
.green-bg { background-color: $greenColor; }

.page-wrapper {
	@media screen and (min-width: $collapseNavAt) {
		& { padding-top: 144px; }
		.home & { padding-top:0; }
	}
	
}

/* additions to button */
.button {
	&.square { border-radius:0; }
	&.white { 
		background-color: #fff; color: $blueColor; 
		&.p { background-color: #fff !important; color: $blueColor !important;  }
		&:hover { background-color: $greenColor; color: #fff; }
	}
	
	&.selected {
		@extend .button:hover;
	}
}

/* the latest grid */
.the-latest-section {
	
	.col { 
		position: relative; 
	}
	
	a.col {
		&:after {
			content:"";
			position:absolute;
			top:0;left:0;right:0;bottom:0;
			z-index: 1;
			@include linear-gradient(to bottom, $greenColor, $blueColor);
			@include transition( opacity 0.3s $ease-in-out-sine 0.2s );
			opacity:0.75;
			
			.no-touch & { opacity:0; }
		}
		
		&:hover {
			&:after { 
				opacity:0.75; 
				@include transition-delay( 0s );
			}
			.c { 
				@include transform( none ); 
				@include transition-delay( 0.2s );
			}
		}
	}
	
	.c {
		position: absolute;
		z-index: 2;
		top:15px; left:15px; right:15px; bottom:15px;
		padding: 15px;
		border: 1px solid #fff;
		@include display( flex );
		@include flex-direction( column );
		@include justify-content( center );
		@include align-items( center );
		
		@include transform-origin( center );
		@include transition( transform 0.2s $ease-in-out-sine 0s );
		
		/* 
			we need to show this stuff on touch immediately - they have no way of seeing it
			and it otherwise looks just like on image 
		*/
		.no-touch & { @include transform( scale(0,0) translate3d(0,20%,0) ); }
		
		span {
			text-align:center;
			@include flex( 0 0 auto );
		}
	}
	
	.t { 
		display: block; 
		color: #fff; 
		font-size: 18px;
		position: relative;
		padding-bottom: 6px;
		margin-bottom: 12px;
		
		&:after {
			content:"";
			margin: 0 auto;
			position: absolute;
			left:0; right:0; bottom:0;
			max-width: 40%;
			height: 3px; background: #fff;
		}
	}
}

/* book appointment form on front page */
.book-appointment-section {
	
	form {
		@include display( flex );
		@include flex-flow( row wrap );
	}
	
	input {
		margin: 0 10px 10px 0;
		@include flex( 2 1 auto );
		border: none;
		padding: 16px;
		border-radius: 4px;
		min-width: 200px;
	}
	
	button { 
		@include flex( 0 0 auto );  
		margin: 0 0 10px;
	}
	
}

/* testimonials section */
.testimonials-section {

	padding-top: 20px;
	
	cite { 
		display: block; 
		margin-top: 10px;
	}
	
	.ls-slider-links {
		top: 50%; left: auto; bottom: auto;
		z-index: 10;
		@include transform( translateY(-50%) );
		display:block;
		
		button { 
			display:block; 
			margin: 7px 0;
			border-color: $greenColor;
			
			&:after {
				border-color: $greenColor;
				background: $greenColor;
			}
			
			&.selected:after { background: lighten($greenColor,20); }
		}
		
	}
			
	@media screen and (max-width: $gridCollapseSmall) {
		& {
			.has-lightslider { padding-bottom: 30px; }
			.ls-slider-links {
				top: auto; left:0; right:0; bottom: 10px;
				@include transform( none );
				@include display( flex );
				button { margin: 0 5px; }
			}
		}
	}
	
}

/* overview blocks */
a.ov-block {
	color: inherit;
	@include transition( background 0.2s $ease-in-out-sine );
	&:hover { background: rgba(255,255,255,0.3); }
}

.ov-block-content {
	padding: 30px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

.ov-blocks .col-2+.col-2 { 
	border: solid $greenColor; 
	border-width: 0 0 0 1px;
}
.ov-blocks>hr { border-color: $greenColor; }
.ov-img {
	background-size: auto auto;
	background-position: center 60px;
}

@media screen and (max-width: $gridCollapseSmall) {
	.ov-blocks .col-2+.col-2 { border-width: 1px 0 0; }
}

.btn-group { 
	margin: 0 -10px;
	@include display( flex );
	@include justify-content( center );
	@include flex-flow( row wrap );
	
	a,
	span {
		@include flex( 1 1 auto );
		margin: 0 10px 10px;
		display: block;
	}
}

.fa-button {
	display: block;
	width: 80px; height: 80px;
	max-width: 80px;
	border-radius: 40px;
	background: $greenColor;
	&:before { 
		color: $lightGreenColor; 
		font-size: 40px;
	}
}

.body { 
	padding-top: 90px; 
	.home & { padding-top:0; }
}

.sec-nav { 
	color: #fff;
	background: $greenColor;
	border-radius: 4px;
	margin: -60px 0 20px;
	position: relative;
	width: 500px;
	max-width: 100%;
	@include transform( translateZ(0) );
	
	&:after {
		position: absolute;
		content: "";
		top:0; left:40px; bottom:0;
		border-right: 1px solid #fff;
	}
	
	.breadcrumbs { 
		position: relative; 
		z-index:11; 
		padding: 18px 15px;
		line-height:1;
	}
	
	.nav-button {
		position: absolute;
		top:0; left:0; width: 40px; height: 50px;
		height: 50px;
		border-radius: 4px 0 0 0;
		color: #fff;
		@include transition( background 0.2s $ease-in-out-sine );
		&:before { font-size: 22px; }
	}
	
	.sec-nav-links {
		position: absolute;
		top:0; left:0; height: 100%;
		z-index:  10;
		padding-top: 50px;
		overflow:hidden;
		
		& + .breadcrumbs { margin-left: 40px; }
		
		&:hover {
			height: auto;
			.nav-button { background: $blueColor; }
			ul { @include transform( none );  }
		}
		
		ul {
			position: relative;
			z-index: 2;
			overflow:hidden;
			@include transform( scale(0,0) );
			@include transform-origin( top left );
			@include transition( transform 0.2s $ease-in-out-sine );
			display: inline-block;
			background: $blueColor;
			border-radius: 0 0 4px 4px;
		}
		
		a { 
			display: block;
			min-width: 200px;
			color: #fff;
			padding: 8px;
			@include transition( background 0.2s $ease-in-out-sine );
			&.selected,
			&:hover { background: rgba(0,0,0,0.4); }
		}
	}
	
}

.divider-header {
	border-radius: 4px;
	padding: 10px 14px;
	margin: 0 0 10px;
	p + & { margin-top: 25px; }
	&>* { margin-bottom:0; line-height:1;}
}


.body-form-wrap { 
	width: 450px;
	max-width: 90%;
	margin: 0 auto;
	
	form { margin: 20px 0 }
}

.body-form {

	.field-wrap,
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	select,
	textarea {
		border-radius: 4px;
	}
	
	.field-wrap {
		&:before { color: $greenColor; }
	}
	
	&.dark-fields {
		.field-wrap {
			background: #f8f8f8;
			border-color: #dfdfdf;
		}
	}
	
}

.section-header {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}

.location-slider .rows {
	max-width: 250px;
}

/* sidebar mods */
.s-mod {
	border-radius: 6px 6px 0 0;
}

.s-mod-title {
	padding: 10px; 
	margin:0;
}

.archives-mod {
	.acc-item { border-bottom: 1px solid #fff; }
}

.article-body>.grid:first-child { margin-top:0; }

.article-head {

	.subtitle {
		color: #999c97;
		font-size: 20px;
		
		.dark-bg & { color: #b6b7b5; }
		
	}

	.hgroup { 
		padding: 0 0 10px;
		margin: 0 0 25px;
		border-bottom: 1px solid #ccc;
		
		&.nosep { border: none; }
		
	}
}

.article-head-meta {

	margin: -15px 0 25px;

	span {
		color: #999c97;
		display: inline-block;
		margin-right: 8px;

		&:before {
			color: $greenColor;
			margin-right: 8px; 
		}	
	}
	
}

.grid.round-blocks { 
	.item {
		border-radius: 6px; 
	}
	
	a.item {
		@include transition( background 0.2s $ease-in-out-sine );
		&:hover { background: lighten($blueColor,20); }
	}
}

.abs-button { 
	position: relative;
	padding-bottom: 80px;
	
	.btn-wrap {
		position: absolute;
		bottom:40px; left:0; right:0;
	}
}

/* filter section */
.filter-controls {
	button { 
		border-radius: 50%; 
		margin-left: 5px;
		&:before { font-size: 22px; }
		&.next:before { content: $fa-var-angle-right; }
		&.previous:before { content: $fa-var-angle-left; }
		
	}
}

.filter-bar {
	.num { font-size: 22px; }
}

/* ask a question */
.ask-a-question {
	text-align: center;
	width: 650px;
	max-width: 100%;
	margin: 0 auto;
	
	p { margin-bottom: 20px; }
	
	input { text-align: center; }
	
}


.block {

	&.with-meta { padding-bottom: 80px; }
	
	.content { margin: 0 -15px; }
	.bottom-meta { bottom:0; left:0; right:0; }
	
	.button { left:0; }
	
	.meta { 
		color: #ccc;
		font-size: 14px;
		border-top: 1px solid #ccc;
		padding-top: 12px;
		display:block;
		margin-top: 12px;
	}
}

/* the-latest-slider */
.the-latest-slider {
	.col-2:first-child { border-right: 1px solid #ccc; }
	
	.list-view .img-wrap { display: none !important; }
	.list-view .content { margin-left:0 !important; }
	.list-view .col-2:first-child { border: none; }
	
	.grid { margin: 0 40px; }
	
	.ls-slider-controls {
		width: auto;
		left: 40px; right: 40px;
		button { 
			border: none !important;
			&:after{ display: none !important; }
			&:before {
				color: $greenColor;
				font-size: 52px;
			}
		}
	}
}

.testimonial-single-img-wrap {
	max-width: 70%;
	border-radius: 50%;
	margin: 0 auto;
	overflow:hidden;
}

/* conditions */
.conditions-wrap {
	@include display( flex );
}

.condition-selected {
	width:0; min-width:0;
	position: relative;
	z-index: 1;
	
	&,
	&:before,
	&:after {
		@include transition( all 0.4s $ease-in-out-sine );	
	}
	
	.fa-refresh {
		position: absolute;
		left:0; right:0; top: 50%;
		width: 40px; height: 40px;
		margin-top: -20px;
		font-size: 32px;
		opacity:0;
		margin: 0 auto;
		z-index: 2;
		@include transition( all 0.2s $ease-in-out-sine 0s );
	}
	
	&.loading .fa-refresh { 
		opacity:0.5; 
		color: #000;
		@include transition-delay( 0.3s );
	}
	
	.error {
		position: absolute;
		top: 50%;
		left:0; right:0;
		margin: 0 auto;
		width: 225px;
		padding: 6px 14px;
		color: #fff;
		font-weight: bold;
		background: #b33030;
		display: block;
		@include transform( translateY(-50%) );
		text-align: center;
	}
	
	
	
	&:after {
		z-index: -1;
		position: absolute;
		top:0; left:0; bottom:0; right: -1000px;
		content:"";
		background: #fff;
		@include transform-origin( right center );
	}
	
	&:after,
	&:before { 
		@include transform( scale(0,1) );
	}
	
	&:before {
		content:"";
		position: absolute;
		top: 20px; left:0;
		border: 20px solid transparent;
		border-left-color: $blueColor;
		width:0; height:0;
		z-index:2;
		@include transform-origin( left center );
	}
	
	.show-selected-condition & { 
		margin-left: 50px;
		width: 30%; 
		min-width: 400px;
		&:before,
		&:after { @include transform( scale(1,1) ); }
		
	}
	
}
	
.condition-content {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 1;
	padding: 30px;
	opacity:0;
	@include transition( all 0.2s $ease-in-out-sine 0s );
	
	.loaded & {
		opacity:1; 
		@include transition-delay( 0.5s );
	}
	
}

.conditions-grid {

	@include flex( 1 1 auto );

	.item {
		border-radius: 8px;
		background-color: rgba(0,0,0,0.1);
		text-align: center;
		cursor: pointer;
		max-height: 400px;
		overflow: hidden;
		
		.title { color: $greenColor; font-size: 18px;}
	}
	
	.selected .item,
	.item:hover {
		background-color: #fff; 
		.c-f-abs {
			background-color: $blueColor;
			&:before { color: #fff; }
		}
	}
	
	.item,
	.c-f-abs { @include transition( all 0.2s $ease-in-out-sine ); }

	.ico-wrap {
		max-width: 150px;
		width: 80%; 
		display:block;
		margin: 0 auto 15px;
	}
	
	.c-f-abs {
		height:0;
		padding: 0 0 100%;
		border-radius: 50%; 
		overflow:hidden;
		background-color: #fff;
		&:before { 
			color: $blueColor;
			font-size: 62px;
		}
	}
}

.condition-list {
    overflow-x: hidden;
	overflow-y: auto;
    position: absolute;
    top:  70px; left: 20px; right: 20px; bottom: 110px;
	
	li {
		border: solid #ddd;
		border-width: 1px 0;
		margin-bottom: -1px;
		padding: 8px 18px;
		cursor: pointer;
		@include display( flex );
		@include align-items( center );
		@include transition( background  0.2s $ease-in-out-sine );
		
		@include t-fa();
		&:before { 
			content: $fa-var-check; 
			opacity:0; 
			color: $greenColor;
			font-size: 22px;
		}
		&.selected { 
			background: rgba($blueColor,0.3) !important;
			&:before { opacity:1; } 
		}
		
		&:hover { background: rgba($blueColor,0.1); }
		
		
		span { 
			@include flex( 1 1 auto ); 
			padding-left: 10px;
		}
		
	}
}

.conditions-selector { display: none; }

.conditions-book {
	position: absolute;
	left: 20px; right: 20px; bottom: 20px;
	border-radius: 6px;
	line-height: 1;
	overflow:hidden;
	
	&,
	&>span,
	&>.button {
		@include display( flex );		
	}
	
	&>span,
	&>.button {
		@include flex( 0 1 50% );
		@include justify-content( center );
		@include align-items( center );
		border-radius: 0;
	}
	
	span {
		span { 
			font-size: 20px; 
			padding: 12px;
		}
	}
	
	strong {
		font-size: 24px;
		padding: 0 12px;
	}
}

@media screen and (max-width: 1100px) {
	
	.conditions-wrap { @include flex-wrap( wrap ); }
	
	.conditions-grid,
	.condition-selected {
		@include flex( 1 1 100% );
	}
	
	.condition-selected {
		overflow: hidden;
		margin-bottom: 20px;
		
		.error {
			position: static;
			margin: 40px auto;
			@include transform( none );
		}
		
		&:before {
			border-color: transparent;
			border-top-color: $blueColor;
			right:0; top:0;
			margin: 0 auto;
		}
		
		&:after { 
			right:0;
			@include transform( scale(0,1) );
			@include transform-origin( top center );
		}
	
		.show-selected-condition & {
			width: auto;
			margin-left:0;
			min-width:0;
		}
		
	}
	
	.condition-list,
	.conditions-book,
	.condition-content {
		position: static;
	}
	
	.condition-content { padding: 30px 10px; }
	
	.condition-list {
		overflow: visible;
		padding-bottom: 20px;
	}
	
}

@media screen and (max-width: 650px) {
	.conditions-grid { display: none; }
	.conditions-selector { 
		display: block; 
		margin: 20px auto;
		width: 290px;
		max-width: 100%;
	}
	
	.conditions-book {
		@include flex-wrap( wrap );
		
		&>span,
		& .button { 
			@include flex( 1 1 50% );
			min-width: 200px; 
		}
		
	}
	
	
	
}